
@{
    ViewBag.Title = "MainPage";
    Layout = "~/Views/Shared/_UserPage.cshtml";
}

<section class="hero-slider hero-style-1">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="slide-inner slide-bg-image" style="background-image:url(../UserAssets/img/lb/poster.png);">
                    <div class="container">
                        <div data-swiper-parallax="300" class="slide-title  text-right">
                            <h2 style="letter-spacing: 1.5px;">值得信赖</h2>
                        </div>
                        <div data-swiper-parallax="400" class="slide-text text-right">
                            <p style="letter-spacing: 1.5px;">Maverick 全心不负所托</p>
                        </div>
                        <div class="clearfix"></div>
                        <div data-swiper-parallax="500" class="slide-btns  text-right">
                            <a href="#" class="theme-btn-s2">了解更多</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="swiper-slide">
                <div class="slide-inner slide-bg-image" style="background-image:url(../UserAssets/img/lb/04.jpg);">
                    <div class="container">
                        <div data-swiper-parallax="300" class="slide-title  text-right">
                            <h2 style="letter-spacing: 1.5px;">体验无忧无虑的快乐</h2>
                        </div>
                        <div data-swiper-parallax="400" class="slide-text text-right">
                            <p style="letter-spacing: 1.5px;">Maverick 给你带来更优质的服务</p>
                        </div>
                        <div class="clearfix"></div>
                        <div data-swiper-parallax="500" class="slide-btns  text-right">
                            <a href="#" class="theme-btn-s2">了解更多</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>
</section>


<section class="features-section">
    <div class="container">
        <div class="row">
            <div class="col col-xs-12">
                <div class="feature-grids clearfix">
                    <div class="grid">
                        <div class="header">
                            <i class="fi flaticon-staff"></i>
                        </div>
                        <div class="details">
                            <h3>01. 熟练的员工</h3>
                            <p>添加更多的员工介绍</p>
                            <a href="#" class="read-more">了解更多</a>
                        </div>
                    </div>
                    <div class="grid">
                        <div class="header">
                            <i class="fi flaticon-box"></i>
                        </div>
                        <div class="details">
                            <h3>02. 物流服务</h3>
                            <p>添加更多的物流服务介绍</p>
                            <a href="#" class="read-more">了解更多</a>
                        </div>
                    </div>
                    <div class="grid">
                        <div class="header">
                            <i class="fi flaticon-truck"></i>
                        </div>
                        <div class="details">
                            <h3>03. 公路运输</h3>
                            <p>添加更多的运输服务介绍</p>
                            <a href="#" class="read-more">了解更多</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
